html,
body {
  overflow: hidden;
}

.text {
  position: absolute;
  left: 30px;
  top: 30px;
  right: 30px;
  text-align: center;
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}


.letter {
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

html,
body {
  overflow: hidden;
  font: 16px/1.4 'Lato', sans-serif;
  color: #fefeff;
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

h1.transition-in {
  visibility: visible;
}

h1 [class^="letter"] {
  opacity: 0;
}

h1.transition-in [class^="letter"] {
  opacity: 1;
}